# File
/pickles/newSeries_total.pickle
/pickles/newSeries_total_3.pickle
/pickles/newSeries_total_4.pickle
/pickles/newSeries_total_6.pickle
pickles/kluster_model_3_c2.pickle
pickles/kluster_model_3_c3.pickle
pickles/kluster_model_3_c4.pickle
pickles/kluster_model_3_c5.pickle
pickles/kluster_model_3_c6.pickle
pickles/kluster_model_3.pickle
pickles/kluster_model_4_c2.pickle
pickles/kluster_model_4_c3.pickle
pickles/kluster_model_4_c4.pickle
pickles/kluster_model_4_c5.pickle
pickles/kluster_model_4_c6.pickle
pickles/kluster_model_4.pickle
pickles/kluster_model_6_c2.pickle
pickles/kluster_model_6_c3.pickle
pickles/kluster_model_6_c4.pickle
pickles/kluster_model_6_c5.pickle
pickles/kluster_model_6_c6.pickle
pickles/kluster_model_6.pickle
pickles/newSeries_total_3_c2.pickle
pickles/newSeries_total_3_c3.pickle
pickles/newSeries_total_3_c4.pickle
pickles/newSeries_total_3_c5.pickle
pickles/newSeries_total_3_c6.pickle
pickles/newSeries_total_4_c2.pickle
pickles/newSeries_total_4_c3.pickle
pickles/newSeries_total_4_c4.pickle
pickles/newSeries_total_4_c5.pickle
pickles/newSeries_total_4_c6.pickle
pickles/newSeries_total_6_c2.pickle
pickles/newSeries_total_6_c3.pickle
pickles/newSeries_total_6_c4.pickle
pickles/newSeries_total_6_c5.pickle
pickles/newSeries_total_6_c6.pickle
